:root {
    --primary-button-padding: 10px 20px;
    --primary-button-border-radius: 30px;
    --primary-button-border: none;
    --primary-button-background: #3681FF;
    --primary-button-hover: rgb(51, 108, 254);
    --primary-button-transition: .3s;
}


/* 建立變數 */


/* 立即購買按鈕 */

.order {
    background-color: var(--primary-button-background);
    padding: var(--primary-button-padding);
    border-radius: var(--primary-button-border-radius);
    border: var(--primary-button-border);
    transition: var(--primary-button-transition)
}

.order:hover {
    background-color: var(--primary-button-hover);
}