@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+TC&display=swap');
* {
    font-family: 'Noto Sans TC', sans-serif;
}


/* 導覽列(共用區塊) */

.main-header {
    background-color: #363636;
    position: sticky;
    top: 0;
    z-index: 20;
}

.main-header .main-header-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: auto;
}

.main-header-container .logo {
    width: 80px;
    /* padding-top: 12px; */
}

.main-header .main-header-container .logo img {
    width: 100%;
}

.main-header .main-header-container h1 {
    display: none;
}

.main-header .main-nav {
    margin: auto;
    display: flex;
}

.main-header .main-nav a {
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    position: relative;
    transform: translateY(0px);
    transition: .3s;
    font-size: 16px;
}

.main-header .main-nav a:hover {
    transform: translateY(-5px);
}

.main-header .main-nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 0;
    border-bottom: 1px solid #fff;
    transition: .3s;
}

.main-header .main-nav a:hover:after {
    left: 0;
    right: 0;
}

.search-cart-login {
    display: flex;
    align-items: center;
}

.nav-icon {
    width: 20px;
    height: 20px;
    padding: 0 10px;
    cursor: pointer;
}


/* .bootstrap-icon{
    width: 20px;
    height: 20px;
    padding: 0 20px;
    cursor: pointer;
} */

.nav-icon svg {
    width: 23px;
    height: 23px;
    color: #fff;
}


/* ------------------------------------------------------- */


/* Home page */


/* banner Galaxy s22 Ultra */

.galaxy-s22-ultra {
    width: 100%;
    padding: 70px 0;
    background-color: #f6f6f6;
    overflow: hidden;
}

.s22-content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.s22-content-text {
    width: 40%;
    /* width: 38.333333%; */
    padding: 0 0 0 30px;
}

.s22-content-product {
    width: 60%;
    /* width: 61.666666%; */
}

.s22-content-text h2 {
    font-size: 48px;
}

.s22-content-text p {
    font-size: 28px;
}

.s22-content-product img {
    width: 170px;
}

.order-learn .learn-s22 {
    text-decoration: none;
    font-size: 16px;
    color: #3c3c3c;
    position: relative;
}

.order-learn .learn-s22::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    border-bottom: 1px solid #3c3c3c;
    width: 0;
    height: 1px;
    transition: .3s;
}

.order-learn .learn-s22:hover:after {
    width: 80px;
    left: 0;
}

.order-learn .learn-s22 i {
    width: 25px;
    height: 25px;
    font-weight: 600;
    color: #3c3c3c;
}

.order {
    background-color: #3681FF;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    transition: .3s;
    cursor: pointer;
}

.order:hover {
    background-color: rgb(5, 61, 216);
}

.order a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.order-learn .order {
    margin-left: 10px;
}

.s22-product-picture {
    display: flex;
    justify-content: flex-end;
}

.s22-product-1,
.s22-product-2,
.s22-product-3 {
    margin-right: 30px;
}

.s22-product-1 {
    position: relative;
    top: 230px;
}

.s22-product-2 {
    position: relative;
    top: 120px;
}

.s22-product-3 {
    position: relative;
}

.banner-s22-right-arrow {
    display: flex;
    align-items: center;
}

.banner-s22-right-arrow i {
    width: 40px;
    height: 40px;
    padding: 5px;
    text-align: center;
    color: #838383;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
}


/* ------------------------------------------------ */


/* banner iPad air */

.ipad-air {
    width: 100%;
    padding: 50px 0;
    /* background: linear-gradient(90deg,black,grey); */
    background-color: #363636;
}

.ipad-air-content {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.ipad-air-content .ipad-air-picture {
    width: 50%;
}

.ipad-air-content .ipad-air-picture .ipad-air-img {
    width: 100%
}

.ipad-air-content .ipad-air-text {
    color: white;
    text-align: end;
    /* margin-right: 100px; */
}

.ipad-air-content .ipad-air-text h2 {
    font-size: 48px;
}

.ipad-air-content .ipad-air-text h2 span {
    color: rgb(210, 133, 255);
}

.ipad-air-content .ipad-air-text span {
    color: rgb(210, 133, 255);
}

.ipad-air-content .ipad-air-text p {
    font-size: 28px;
}

.order-learn .learn-ipad {
    text-decoration: none;
    font-size: 16px;
    color: white;
    position: relative;
}

.order-learn .learn-ipad span {
    text-align: start;
}

.order-learn .learn-ipad::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    border-bottom: 1px solid white;
    width: 0;
    height: 1px;
    transition: .3s;
}

.order-learn .learn-ipad:hover:after {
    width: 80px;
    left: 0;
}

.order-learn .learn-ipad i {
    width: 25px;
    height: 25px;
    font-weight: 600;
    color: white;
}


/* ------------------------------------------------- */


/* ProArt */

.proart {
    width: 100%;
    background-color: #f6f6f6;
}

.proart-content {
    max-width: 1200px;
    margin: auto;
}

.proart-content .proart-text {
    text-align: center;
}

.proart-content .proart-text h2 {
    font-size: 48px;
}

.order-learn .learn-proart {
    text-decoration: none;
    font-size: 16px;
    color: #3c3c3c;
    position: relative;
}

.order-learn .learn-proart span {
    text-align: start;
}

.order-learn .learn-proart::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    border-bottom: 1px solid #3c3c3c;
    width: 0;
    height: 1px;
    transition: .3s;
}

.order-learn .learn-proart:hover:after {
    width: 80px;
    left: 0;
}

.order-learn .learn-proart i {
    width: 25px;
    height: 25px;
    font-weight: 600;
    color: #3c3c3c;
}

.proart-picture-group1,
.proart-picture-group2 {
    width: 420px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.proart-picture-group1,
.proart-picture-group2 img {
    width: 100%;
}

.proart-picture-group1 .proart-application01 {
    transform: rotate(-15deg);
}

.proart-picture-group2 .proart-application02 {
    transform: rotate(15deg);
}

.proart-picture-group2 img {
    margin: 0 60px;
}


/* ------------------------------------------------- */


/* banner 零組件專區 */

.component {
    width: 100%;
    padding: 15px 0;
    background-color: #363636;
}

.component h2 {
    margin-left: 30px;
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.component .component-content {
    max-width: 1200px;
    margin: auto;
}

.component .component-content .product-type {
    display: flex;
    justify-content: center;
}

.component-content .case {
    padding: 0 50px;
}

.component-content .motherboard,
.radiator {
    padding-bottom: 30px;
}

.component-content img {
    transition: .8s;
}

.component-content img:hover {
    transform: scale(0.85);
}


/* -------------------------------------------------- */


/* 活動專區 */

.activity {
    width: 100%;
    padding: 15px 0;
    background-color: #f6f6f6;
}

.activity h2 {
    margin-left: 30px;
    font-size: 36px;
    font-weight: 500;
}

.activity .activity-content {
    max-width: 1200px;
    margin: auto;
}

.activity .activity-content .activity-card-section {
    display: flex;
    justify-content: center;
}

.activity .activity-content .activit-card {
    width: 350px;
    margin: 0 10px;
    cursor: pointer;
    transition: .8s;
}

.activity .activity-content .activit-card:hover {
    box-shadow: 0px 0px 18px rgba(168, 168, 168, 0.8);
}

.activity .activity-content .activit-card:hover img {
    transform: scale(1.1);
}

.activity .activity-content .activit-card .avtivity-picture {
    width: 350px;
    overflow: hidden;
}

.activity .activity-content .activit-card .avtivity-picture img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    transition: .8s;
}

.activity .activity-content .activit-card .activity-descpription {
    height: 80px;
    padding: 12px 15px 12px 15px;
    display: flex;
    align-items: flex-start;
    background-color: #e7e7e7;
}

.activity .activity-content .activit-card .activity-descpription p {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
}

.all-activity-link {
    text-align: end;
    padding: 25px 0;
}

.activity .activity-content .right-arrow {
    display: flex;
    align-items: center;
}

.activity .activity-content .right-arrow i {
    width: 40px;
    height: 40px;
    padding: 5px;
    text-align: center;
    color: #838383;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
}

.all-activity {
    padding: 0 80px 0 0;
    text-align: right;
    text-decoration: none;
    color: #3681FF;
    font-size: 16px;
    position: relative;
}

.all-activity::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    border-bottom: 1px solid #3681FF;
    transition: .3s;
}

.all-activity:hover:after {
    width: 110px;
    left: 0;
}

.all-activity span {
    text-align: start;
}

.all-activity i {
    width: 25px;
    height: 25px;
    font-weight: 600;
}


/* -------------------------------------------------- */


/* footer*/

.footer {
    width: 100%;
    padding: 5px 0;
    background-color: #363636;
}

.footer .footer-content .main-footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer .footer-content .main-footer h3 {
    font-weight: 400;
    color: #f6f6f6;
}

.footer .footer-content .main-footer ul {
    padding: 0;
}

.footer .footer-content .main-footer li {
    list-style: none;
    line-height: 2;
}

.footer .footer-content .main-footer ul li .footer-link {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 13px;
    position: relative;
}

.footer .footer-content .main-footer ul li .footer-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: -3px;
    border-bottom: 1px solid #f6f6f6;
    transition: .3s;
}

.footer .footer-content .main-footer ul li .footer-link:hover:after {
    width: 100%;
    left: 0;
}

.footer .footer-content .main-footer .social ul {
    display: flex;
    display: grid;
    grid-template-columns: 35px 35px;
    gap: 5px;
}

.footer .footer-content .main-footer .social img {
    width: 30px;
}

.copyright {
    border-top: 1px solid #575757;
    text-align: center;
    font-size: 12px;
    color: #838383;
    padding-top: 8px;
    margin: 0 20px;
}

.copyright p {
    margin: 0;
    padding-bottom: 8px;
}

.copyright a {
    text-decoration: none;
    color: #838383;
    transition: .3s;
}

.copyright a:hover {
    color: #f6f6f6;
}


/* -------------------------------------------------- */


/* product-introduction */

.main-header-product-introduction {
    width: 100%;
    position: relative;
}

.main-header-background-image {
    height: 320px;
    background-repeat: no-repeat;
    background-position: 50% -30px;
    background-image: url(../picture/background-imge-Ellipse-nav.png);
}

.main-header-product-introduction .main-header-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-header-product-introduction .main-header-container .logo {
    width: 80px;
    /* padding-top: 12px; */
}

.main-header-product-introduction .main-header-container .logo img {
    width: 100%;
}

.main-header-product-introduction .main-nav {
    margin: auto;
    display: flex;
}

.main-header-product-introduction .main-nav a {
    text-decoration: none;
    color: #363636;
    padding: 5px 30px;
    position: relative;
    transform: translateY(0px);
    transition: .3s;
    font-size: 16px;
}

.main-header-product-introduction .main-nav a:hover {
    transform: translateY(-5px);
}

.main-header-product-introduction .main-nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 0;
    border-bottom: 1px solid #363636;
    transition: .3s;
}

.main-header-product-introduction .main-nav a:hover:after {
    left: 0;
    right: 0;
}

.main-header-product-introduction .search-cart-login {
    display: flex;
    align-items: center;
}

.main-header-product-introduction .nav-icon {
    width: 20px;
    height: 20px;
    padding: 0 10px;
    cursor: pointer;
}

.black-icon svg {
    width: 23px;
    height: 23px;
    color: #363636;
}


/* ------------------------------------ */


/* s22 ultra product feature */

.s22-ultra-product-feature {
    width: 100%;
}

.s22-ultra-product-feature .product-title-slogan {
    text-align: center;
    margin-top: -150px;
}

.s22-ultra-product-feature .product-title-slogan h1 {
    margin: 0;
}

.s22-ultra-product-feature .product-title-slogan h2 {
    margin-top: 10px;
}


/* -------------------------------------------- */


/* s22 ultra product All your devices, working together. */

.s22-ultra-device-connection {
    width: 100%;
}

.s22-ultra-device-connection .device-connection-section {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.s22-ultra-device-connection .device-connection-section .s22-ultra-device-connection-background-image {
    background-image: url(../picture/yellow-ellipse.png);
    background-repeat: no-repeat;
    width: 640px;
    height: 1200px;
    position: relative;
    top: -80px;
    margin: auto;
    z-index: -1;
}

.s22-ultra-device-picture {
    max-width: 250px;
    width: 100%;
    margin: auto;
    margin-top: 150px;
    position: sticky;
    top: 0;
}

.s22-ultra-device-picture .s22-photo {
    width: 100%;
}

.cooling-75 {
    width: 165px;
    position: absolute;
    top: 30%;
    right: 18%;
}

.cooling-75 .cooling-75-circle {
    width: 100%;
}

.smart-watch {
    width: 148px;
    position: absolute;
    left: 18%;
    top: 35%;
}

.smart-watch .watch {
    width: 100%;
}

.smart-tv {
    width: 326px;
    position: absolute;
    bottom: 35%;
    left: 10%;
}

.smart-tv .tv {
    width: 100%;
}

.smart-vehicle {
    width: 230px;
    position: absolute;
    bottom: 35%;
    right: 15%;
}

.smart-vehicle .vehicle {
    width: 100%;
}

.android-laptop {
    width: 320px;
    position: absolute;
    right: 12%;
    bottom: 20%;
}

.android-laptop .laptop {
    width: 100%;
}

.smart-tablet {
    width: 300px;
    position: absolute;
    top: 75%;
    left: 15%;
}

.smart-tablet .tablet {
    width: 100%;
}

.primary-fuction {
    max-width: 1200px;
    margin: auto;
    position: relative;
    z-index: 5;
}

.primary-fuction .function-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary-fuction .function-slogan h2 {
    margin: 0;
}

.primary-fuction .function-slogan p {
    font-size: 1.4375rem;
}

.green-circle-background-image {
    background-image: url(../picture/green-circle.png);
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 110vh;
    position: absolute;
    top: 35%;
    z-index: -1;
}

.primary-fuction .four-feature {
    display: flex;
    justify-content: center;
}

.high-efficiency-cpu,
.huge-battery,
.ip68-water-proof,
.wireless-power-share {
    width: 240px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 4px 12px 47px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
}

.four-feature h3 {
    margin: 0
}

.four-feature p {
    margin-top: 10px;
    line-height: 1.5;
}


/* ------------------------------------- */


/* 產品相機功能介紹 */

.s22-camera-introduction {
    width: 100%;
    background-color: #F5FFBA;
    padding-bottom: 10%;
}

.s22-camera-introduction .camera-content {
    max-width: 1200px;
    margin: auto;
}

.camera-content .camera-slogan {
    font-size: 2.5rem;
    margin-left: 50px;
    padding-top: 100px;
    position: relative;
    z-index: 5;
}

.model-photo {
    /* max-width: 550px; */
    /* width: 100%; */
    max-width: 100%;
    margin: 10% 0 0 40%;
    position: relative;
    z-index: 5;
}

.model-photo img {
    width: 100%;
}

.s22-camera {
    /* max-width: 300px; */
    max-width: 100%;
}

.s22-camera img {
    width: 100%;
}

.camera-content .camera-description {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.camera-content .camera-description .s22-camera {
    margin-top: -10%;
}

.camera-content .camera-description .product-description {
    width: 40%;
    font-size: 1.25rem;
    line-height: 1.5;
}


/* --------------------------------------- */


/* 產品方便性 */

.s22-convenient-feature {
    width: 100%;
}

.s22-convenient-feature .convenient-feature-content {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.s22-convenient-feature .blue-circle-background-image {
    background-image: url(../picture/blue-circle.png);
    background-repeat: no-repeat;
    width: 1400px;
    height: 130vh;
    position: absolute;
    top: 18%;
    left: -50%;
    z-index: -1;
}

.s22-convenient-feature .convenient-feature-content .convenient-text {
    display: flex;
}

.convenient-slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20% 0 0 7%;
    width: 60%;
}

.advantage-description {
    width: 40%;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 25% 3% 0 0;
}

.convenient-slogan .in-trip {
    font-size: 1.125rem;
}

.convenient-slogan .advantage {
    font-size: 5rem;
    font-weight: 500;
}

.s22-convenient-feature .convenient-picture .convenient-picture-content .digital-car-key .car-key-pic {
    width: 585px;
}

.s22-convenient-feature .convenient-picture .convenient-picture-content .digital-car-key .car-key-pic img {
    width: 70%;
}

.s22-convenient-feature .convenient-picture .convenient-picture-content .map-navigation .map-navigation-pic {
    width: 585px;
}

.s22-convenient-feature .convenient-picture .convenient-picture-content .map-navigation .map-navigation-pic img {
    width: 70%;
}

.s22-convenient-feature .convenient-picture .convenient-picture-content .google-pay .google-pay-pic {
    width: 585px;
}

.s22-convenient-feature .convenient-picture .convenient-picture-content .google-pay .google-pay-pic img {
    width: 70%;
}

.convenient-picture {
    margin-top: 8%;
    overflow: hidden;
}

.convenient-picture .convenient-picture-content {
    display: flex;
    margin-left: 38%;
}

.digital-car-key,
.map-navigation,
.google-pay {
    position: relative;
}

.car-key-txt,
.map-navigation-txt,
.google-pay-txt {
    width: 320px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 4px 40px 48px 0 rgb(0 0 0 / 10%);
    position: absolute;
    bottom: -20%;
    left: 40%;
}

.convenient-picture-content h3 {
    font-size: 1.875rem;
    margin: 0;
}

.convenient-picture-content p {
    line-height: 2;
    margin-top: 5px;
}

.convenient-picture-content a {
    text-decoration: none;
    color: #3681FF;
    display: block;
}

.convenient-picture-content i {
    margin-left: 5px;
    transition: .3s;
}

.convenient-picture-content a:hover i {
    transform: translate(20%, -20%);
}

.slideshow {
    width: 100%;
    margin: auto;
    padding-bottom: 10%;
}

.carousel-control {
    display: flex;
    justify-content: center;
}

.slideshow .carousel-control span {
    width: 40px;
    height: 10px;
    margin: 10% 1% 0 1%;
}

.control-icon-1 {
    background-color: #3c3c3c;
}

.control-icon-2,
.control-icon-3 {
    background-color: #f6f6f6;
}

.slideshow .control-arrow {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    padding-top: 3%;
}

.slideshow .control-arrow i {
    padding: 0 10px;
    cursor: pointer;
}

.slideshow .control-arrow .fa-arrow-left {
    color: #d3d3d3;
}

.return-top {
    text-align: center;
    padding-bottom: 30px;
}

.return-top .top {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #3c3c3c;
}

.return-top a {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 15px;
}


/* -------------------------------------------- */


/* 產品詳細頁面footer */

.product-introduction-footer {
    width: 100%;
    padding: 5px 0;
    background-color: #f6f6f6;
}

.product-introduction-footer .footer-content .main-footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.product-introduction-footer .footer-content .main-footer h3 {
    font-weight: 400;
    color: #363636;
}

.product-introduction-footer .footer-content .main-footer ul {
    padding: 0;
}

.product-introduction-footer .footer-content .main-footer li {
    list-style: none;
    line-height: 2;
}

.product-introduction-footer .footer-content .main-footer ul li .footer-link {
    text-decoration: none;
    color: #363636;
    font-size: 13px;
    position: relative;
}

.product-introduction-footer .footer-content .main-footer ul li .footer-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: -3px;
    border-bottom: 1px solid #363636;
    transition: .3s;
}

.product-introduction-footer .footer-content .main-footer ul li .footer-link:hover:after {
    width: 100%;
    left: 0;
}

.product-introduction-footer .footer-content .main-footer .social ul {
    display: flex;
    display: grid;
    grid-template-columns: 35px 35px;
    gap: 5px;
}

.product-introduction-footer .footer-content .main-footer .social img {
    width: 30px;
}

.product-introduction-footer .copyright {
    border-top: 1px solid #d3d1d1;
    text-align: center;
    font-size: 12px;
    color: #838383;
    padding-top: 8px;
    margin: 0 20px;
}

.product-introduction-footer .copyright p {
    margin: 0;
    padding-bottom: 8px;
}

.product-introduction-footer .copyright a {
    text-decoration: none;
    color: #838383;
    transition: .3s;
}

.product-introduction-footer .copyright a:hover {
    color: #f6f6f6;
}


/* ------------------------------------------------------ */


/* 行動裝置選型頁面 */

.mobile-device-nav {
    width: 100%;
}

.mobile-device-nav .device-nav-content {
    max-width: 1200px;
    margin: auto;
}

.device-nav-content .device-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #838383;
    padding: 0 5px 10px 5px;
    /* margin: 0 -32px; */
}

.mobile-device-nav h1 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
}

.device-title .other-device .device-name {
    display: flex;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.device-title .other-device .device-name li {
    padding: 0 10px;
}

.device-title .other-device .device-name li a {
    color: #363636;
}

.mobile-device-nav li {
    list-style: none;
}

.mobile-device-nav a {
    text-decoration: none;
}

.device-nav-content .product-showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #838383;
}

.device-nav-content .product-showcase .product-model {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.device-nav-content .product-showcase .product-model li {
    padding: 5px 0;
    margin-right: 40px;
}

.device-nav-content .product-showcase .product-model a {
    display: flex;
}

.model-pic {
    padding-right: 10px;
}

.model-pic img {
    width: 100%;
}

.model-txt p {
    margin: 0;
}

.model-txt>p {
    color: #363636;
}

.model-txt .short-slogan {
    padding-top: 10px;
    font-size: 0.75rem;
    color: #acacac;
}

.showcase-right-arrow {
    margin-bottom: 10px;
}

.showcase-right-arrow i {
    font-size: 30px;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #838383;
}

.filter-section .filter-result-condition {
    display: flex;
}

.filter,
.result,
.condition {
    padding-right: 15px;
}

.filter,
.result {
    border-right: 1px solid #838383;
    margin-right: 10px;
}

.filter,
.result,
.condition,
.sort,
a {
    font-size: 12px;
    color: #363636;
}

.sort-type {
    width: 60px;
    border: none;
    outline: none;
    background-color: #f6f6f6;
}


/* 類型規格選型 左 */

.specification-model-select .filter-option {
    padding-top: 10px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 30px;
}

.option-type,
.screen-size,
.option-cpu,
.storage-space {
    border-bottom: 1px solid #c4c4c4;
}

.specification-model-select .filter-option a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specification-model-select .filter-option h2 {
    margin: 15px 0 5px 0;
    font-weight: 400;
    font-size: 13px;
}

.specification-model-select ul {
    padding-left: 0;
    margin: 10px 0;
}

.specification-model-select .specification-group li {
    list-style: none;
    padding-bottom: 10px;
}

.specification-model-select .filter-option span {
    font-size: 13px;
}

input[type="checkbox"] {
    appearance: none;
}

.main-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-checkbox .checked-tick {
    width: 20px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
}


/* 勾勾 */

.main-checkbox .checked-tick:before {
    content: "";
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    display: none;
}


/* 圓圈 */

.main-checkbox input:checked+.checked-tick {
    background-color: #3681FF;
}

.main-checkbox input:checked+.checked-tick:before {
    display: block;
}


/* 選擇型號 右 */


/* 產品卡片 */

.model-col .mobile-choose {
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 20px;
    background-color: #fff;
}


/* 產品圖和文字 */

.s22-pic-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.s22-title {
    padding-top: 10px;
}

.s22-title a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}


/* 顏色選擇 */

.color-name {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 0.8125rem;
}

.color-selector {
    display: flex;
    justify-content: center;
}

.color-one {
    /* margin-right: 20px; */
    margin: 0 5px;
}

.color-selector .option-selector {
    position: relative;
    font-size: 0;
    width: 24px;
    height: 24px;
    padding: 2px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
}


/* 最外層圈圈 */

.color-selector .option-selector::after {
    display: block;
    content: '';
    /* display: none; */
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid #000;
    border-radius: 50%;
}

.color-selector .option-selector-background-color {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #654d57;
}

.color-selector .option-selector-background-color::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.color-selector .hidden {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.color-selector .blind {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}


/* 儲存空間 */

.storage-gb {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.storage-selector {
    border: 1px solid #363636;
    border-radius: 30px;
    background-color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 0.8125rem;
}


/* 價格 */

.product-price {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #838383;
}

.product-price .s22-price {
    font-size: 1.25rem;
    font-weight: 500;
}


/* 重點特色規格 */

.specification-list .focus-list {
    padding: 20px 0 20px 30px;
    border-bottom: 1px solid #838383;
}

.specification-list .focus-list li {
    font-size: 13px;
    line-height: 1.5;
}


/* 購買與了解更多按鈕 */

.order-learn-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-learn-btn button {
    margin: 5px 0;
    padding: 10px 100px;
    border-radius: 30px;
    border: none;
}

.order-learn-btn .order-btn {
    display: flex;
    background-color: #3681FF;
    transition: .3s;
    cursor: pointer;
    color: #fff;
}

.order-learn-btn .order-link {
    text-decoration: none;
    font-size: 0.8125rem;
}

.order-learn-btn .order-btn:hover {
    background-color: rgb(51, 108, 254);
}

.order-learn-btn .learn-btn {
    display: flex;
    background-color: #fff;
    border: 1px solid #3c3c3c;
    cursor: pointer;
    color: #3c3c3c;
}

.order-learn-btn .learn-btn:hover {
    background-color: #f6f6f6;
}

.order-learn-btn .learn-link {
    text-decoration: none;
    font-size: 0.8125rem;
}


/* 購買地點和比較功能 */

.location-compare {
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase-location,
.product-comparison {
    margin: 10px;
}

.location-compare a {
    text-decoration: none;
    display: flex;
    align-items: center;
}


/* 尋找門市據點視窗 */

.look-for-store-full-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    overflow-y: auto;
}

.look-for-store-full-screen.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.look-for-store-full-screen .look-for-store {
    width: 90%;
    max-width: 960px;
    /* height: 75%; */
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 0 30px 30px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}


/* 尋找門市標題和關閉icon */

.store-content .viewport-title-close-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #838383;
    padding-bottom: 15px;
}

.store-content .viewport-title-close-icon .viewport-title {
    font-size: 1.5625rem;
    font-weight: 500;
}

.store-content .viewport-title-close-icon .close-icon svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 15px;
}

.store-distance-google-map .store-distance-addresss .distance-km {
    display: flex;
    padding-left: 0;
}

.store-distance-google-map .store-distance-addresss .distance-km li {
    list-style: none;
}

.select-km {
    width: 120px;
    position: relative;
    margin-right: -10px;
}

.select-km input[type="radio"] {
    opacity: 0;
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
}

.select-km label {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    padding: 10px 6px;
    background-color: #dedede;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.select-km span {
    margin: auto;
}

.select-km input:checked+label {
    background: #3681FF;
    color: #FFFFFF;
}


/* 門市地點及公里數 */

.display-store-quantity-distance-address .display-store {
    display: block;
    padding-top: 50px;
}

.display-store-quantity-distance-address .store-quantity {
    padding-left: 0;
    padding-top: 10px;
}

.display-store-quantity-distance-address .store-quantity li {
    width: 420px;
    list-style: none;
    display: flex;
    border-bottom: 1px solid #838383;
    cursor: pointer;
    transition: .1s;
    /* align-items: center; */
}

.display-store-quantity-distance-address .store-quantity li:hover {
    background-color: #f6f6f6;
}

.store-location-icon {
    margin-top: 27px;
}

.address-txt-part {
    margin-left: 15px;
}

.address-txt-part p {
    font-size: 1rem;
    line-height: 1.5;
}


/* google map */

.google-map-tool iframe {
    position: absolute;
    width: 50%;
    height: 86%;
    top: 75px;
    right: 2px;
    border-radius: 0px 0px 30px 0;
}


/* ----------------------------------------- */


/* 購買S22 Ultra */

.product-title-price-hint {
    width: 100%;
    background-color: #fff;
}

.product-title-price-hint .hint-content {
    width: 100%;
    border-bottom: 1px solid #838383;
}

.product-title-price-hint .hint-item {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-title-price-hint .hint-product-name h1 {
    font-size: 20px;
    font-weight: 500;
}


/* 購買S22 Ultra_圖片+文字區塊 */

.join-shopping-cart-section .shopping-cart-content {
    padding-top: 50px;
}


/* 購買S22 Ultra_產品圖片部分 */

.product-real-photo-part {
    position: relative;
}

.s22-ultra-product-real-photo {
    width: 60%;
    margin: auto;
    position: sticky;
    top: 120px;
}

.s22-ultra-product-real-photo img {
    width: 100%;
}


/* 購買S22 Ultra_產品文字說明部分 */

.s22-ulra-name-dicount-info {
    line-height: 1.5;
    font-size: 1rem;
}

.s22-ulra-name-dicount-info ul {
    padding-left: 20px;
    color: #686868;
}

.s22-ulra-name-dicount-info .limited-time-offer span {
    color: red;
    font-weight: 500;
}

.select-storage-memory-color-group .select-product-specification-title h3 {
    font-weight: 500;
    margin-top: 30px;
}


/* 選擇產品規格_儲存空間 */

.space-256gb-512gb {
    display: flex;
}

.control {
    width: 132px;
    height: 44px;
    /* line-height: 44px; */
    margin-right: 15px;
    margin-top: 20px;
    position: relative;
}

.control input[type="radio"] {
    opacity: 0;
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
}

.control label {
    width: 120px;
    height: 40px;
    line-height: 36px;
    padding: 4px 6px;
    background-color: #EFEFEF;
    border-radius: 30px;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control input:checked+label {
    background: #3681FF;
    color: #FFFFFF;
}


/* 選擇產品規格_記憶體 */

.select-memory,
.select-product-color {
    margin-top: 30px;
}

.memory-8gb-12gb-16gb {
    display: flex;
}


/* 選擇產品規格_顏色 */

.color-pink-purple-yellow {
    display: flex;
}

.color-pink-purple-yellow .pink-icon {
    color: rgb(254, 165, 165);
    padding-right: 5px;
}

.color-pink-purple-yellow .purple-icon {
    color: rgb(199, 159, 255);
    padding-right: 5px;
}

.color-pink-purple-yellow .yellow-icon {
    color: rgb(254, 196, 152);
    padding-right: 5px;
}


/* 贈品區 */

.giveaway,
.additional-accessories {
    margin-top: 50px;
    padding: 30px 0;
    border-top: 1px solid #838383;
}

.giveaway-title,
.additional-accessories-title {
    font-weight: 500;
}

.zenpower-duo,
.port-charger,
.protective-case,
.bluetooth-earphone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.zenpower-duo,
.port-charger,
.protective-case,
.bluetooth-earphone img {
    width: 100%;
}

.giveaway a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #686868;
}

.additional-accessories a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #686868;
}


/* 購買S22 Ultra_價格和愛心收藏區塊 */

.shopping-cart-price-section {
    background-color: #fff;
    padding: 50px 80px;
    border-radius: 30px;
}

.shopping-cart-price-section .final-price-zero-interest {
    border-bottom: 1px solid #838383;
    padding-bottom: 30px;
}

.shopping-cart-price-section .final-price-zero-interest .nt-price {
    padding-bottom: 10px;
}

.shopping-cart-price-section .final-price-zero-interest .nt-price span {
    font-size: 2rem;
    color: red;
    font-weight: 500;
}

.shopping-cart-price-section .final-price-zero-interest .original-price .original {
    text-decoration: line-through;
    font-weight: 500;
    color: #686868;
    padding-right: 20px;
}

.shopping-cart-price-section .final-price-zero-interest .original-price .discount-price {
    color: red;
}

.largest-purchase-condition {
    padding: 30px 0;
}

.largest-purchase-condition .purchase-condition span {
    font-size: 1.25rem;
    color: #686868;
}

.largest-purchase-condition .free-shipping {
    padding-top: 10px;
}

.largest-purchase-condition .free-shipping span {
    color: #686868;
    font-size: 0.8125rem;
}

.join-shopping-cart-button-heart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.join-shopping-cart-button-heart .shopping-cart-button a {
    text-decoration: none;
}

.join-shopping-cart-button-heart .shopping-cart-button a input[type="button"] {
    padding: 15px 80px;
    border-radius: 30px;
    border: none;
    background-color: #3681FF;
    color: white;
    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
}

.join-shopping-cart-button-heart .shopping-cart-button a input[type="button"]:hover {
    background-color: rgb(51, 108, 254);
}

.join-shopping-cart-button-heart .collect-heart {
    width: 30px;
}

.join-shopping-cart-button-heart .collect-heart img {
    width: 100%;
    cursor: pointer;
}


/* 產品資訊總攬區塊 */

.product-info-shopping-faq {
    width: 100%;
}

.product-info-shopping-faq .section-title-list-group {
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.section-title-list-group svg {
    color: #363636;
}


/* 產品資訊總攬標題 */

.section-title-list-group h3 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.17rem;
    font-weight: 500;
}


/* 下拉欄的項目標題 */

.section-title-list-group h4 {
    font-weight: normal;
}


/* 下拉欄的項目標題+箭頭符號 */

.s22-list-title-1,
.s22-list-title-2,
.s22-list-title-3,
.s22-list-title-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #c7c5c5;
    border-bottom: 1px solid #c7c5c5;
    cursor: pointer;
}

.section-title-list-group .product-all-feature,
.product-size-demonstrate,
.box-content,
.shopping-faq {
    display: none;
    padding-left: 0;
}


/* 產品特色 */

.product-all-feature li strong {
    color: #000;
    font-size: 1rem;
}

.product-all-feature li {
    line-height: 1.5;
    padding-bottom: 20px;
    list-style: none;
    color: #686868;
    font-size: 0.8125rem
}


/* 尺寸展示 */

.product-size-demonstrate li {
    list-style: none;
}

.s22-actual-size,
.content-in-box {
    display: flex;
    justify-content: center;
}


/* 盒內配件 */

.box-content li {
    list-style: none;
}


/* 購物faq */

.shopping-faq .faq-item {
    list-style: none;
}

.shopping-faq h5 {
    font-size: 1rem;
    font-weight: normal;
}

.accont-problem,
.payment-problem,
.shipping-problem,
.return-problem {
    line-height: 1.5;
    color: #686868;
    font-size: 0.8125rem;
}


/* ---------------------------------------- */


/* 加入購物車-結帳前 */

.shopping-cart-prepare-checkout {
    width: 100%;
}

.shopping-cart-prepare-checkout .in-shopping-cart-content {
    width: 100%;
    border-bottom: 1px solid #838383;
}

.shopping-cart-prepare-checkout .in-shopping-cart-content .buying-product-title-color-quantity-price {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #838383;
}

.buying-product-title-color-quantity-price .buying-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    /* align-items: center; */
}

.product-picture-title-color-quantity {
    display: flex;
}

.s22-ultra-smart-phone-picture {
    width: 30%;
}

.s22-ultra-smart-phone-picture img {
    width: 100%;
}

.title-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}

.title-info .storage-memory-color-info h2 {
    font-size: 2rem;
}

.title-info .storage-memory-color-info span {
    color: #686868;
}


/* 數量按鈕 */

.quantity-control-button {
    margin-bottom: 70px;
    display: flex;
}


/* minus */

.quantity-control-button .quantity-minus-control .btn-minus-ctrl {
    border-radius: 100px 0 0 100px;
    outline: none;
    border: 1px solid #838383;
    background-color: #fff;
    cursor: pointer;
    padding: 3px 3px 3px 8px;
}

.btn-minus-ctrl .minus-icon {
    display: flex;
    align-items: center;
}

.btn-minus-ctrl .minus-icon svg {
    width: 20px;
    height: 20px;
}


/* 顯示的數量 */

.quantity-number {
    display: inline-block;
}

.quantity-number input {
    width: 48px;
    height: 26px;
    padding: 0;
    font-size: 0.9375rem;
    text-align: center;
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;
    border-left: none;
    border-right: none;
    background-color: #fff;
    outline: none;
}


/* plus */

.quantity-control-button .quantity-plus-control .btn-plus-ctrl {
    border-radius: 0 100px 100px 0;
    outline: none;
    border: 1px solid #838383;
    background-color: #fff;
    cursor: pointer;
    padding: 3px 8px 3px 3px;
}

.btn-plus-ctrl .plus-icon {
    display: flex;
    align-items: center;
}

.btn-plus-ctrl .plus-icon svg {
    width: 20px;
    height: 20px;
}


/* 價格和取消icon */

.order-final-price-cancel-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.order-final-price {
    padding-top: 1.5625rem;
}

.order-final-price-cancel-icon .order-final-price span {
    font-size: 1.25rem;
}

.order-final-price-cancel-icon .cancel-icon {
    margin-bottom: 70px;
}

.order-final-price-cancel-icon .cancel-icon svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


/* 優惠券和結帳計算區塊 */

.using-coupon-count-shipping-fee-final-price {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}


/* 優惠代碼區塊 */

.using-coupon {
    width: 60%;
}

.count-shipping-fee-final-price {
    width: 40%;
}

.using-coupon .coupon-code {
    padding-bottom: 20px;
}

.input-coupon-code-activate {
    display: flex;
}

.input-coupon-code-activate #coupon-code {
    width: 120px;
    outline: none;
    border-left: 1px solid #838383;
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;
    border-right: none;
    border-radius: 30px 0 0 30px;
    padding: 5px 20px;
    font-size: 0.8125rem;
}

.input-coupon-code-activate .activate {
    padding: 6px 10px;
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: #3681FF;
    color: #fff;
    cursor: pointer;
}

.input-coupon-code-activate .activate:hover {
    background-color: rgb(51, 108, 254);
}


/* 小計、運費、總計 */

.subtotal,
.shipping-fee,
.total,
.free-shipping-requirement {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    color: #686868;
}

.shipping-fee {
    border-bottom: 1px solid #838383;
    ;
}

.total {
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.total .cost {
    font-size: 1.5625rem;
    color: red;
    font-weight: 500;
}

.checkout-button .checkout-btn {
    width: 100%;
    padding: 10px 0;
    font-size: 1.2rem;
    border: none;
    background-color: #3681FF;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

.checkout-button .checkout-btn:hover {
    background-color: rgb(51, 108, 254);
}


/* 建議商品 */

.recommend-commodity {
    padding-bottom: 50px;
}

.commodity-group {
    padding-top: 30px;
}

.commodity-group h2 {
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 500;
}

.commodity-row-1,
.commodity-row-2 {
    border-bottom: 1px solid #838383;
    padding: 50px 0;
}

.commodity-row-3 {
    padding-top: 50px;
}

.most-recommend-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommend-product-picture {
    width: 100%;
}

.recommend-product-picture img {
    width: 100%;
}

.most-recommend-product a {
    text-decoration: none;
}

.most-recommend-product h3 {
    font-weight: normal;
}

.join-shopping-cart-button .shopping-cart-btn {
    border: none;
    background-color: #3681FF;
    color: #fff;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.join-shopping-cart-button .shopping-cart-btn:hover {
    background-color: rgb(51, 108, 254);
}


/* ----------------------------------------------- */


/* 線上預約維修申請 */


/* 線上預約維修申請---預約進度條 */

.online-repair-application {
    width: 100%;
    padding-bottom: 50px;
}

.online-application-stage-part {
    max-width: 1200px;
    margin: auto;
    padding-top: 30px;
}

.online-application-stage-part h1 {
    font-size: 1.875rem;
    font-weight: 500;
}

.application-progress-stage .stage-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-top: 50px;
    position: relative;
}

.application-progress-stage .stage-line::before {
    content: "";
    width: 95%;
    height: 5px;
    background: #ccc;
    z-index: 0;
    position: absolute;
    top: 70px;
    left: 28px;
}

.application-progress-stage .stage-line li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.application-progress-stage .stage-line li .stage-circle-icon svg {
    width: 40px;
    height: 40px;
    padding-bottom: 8px;
}

.application-progress-stage .stage-line span {
    color: #686868;
}


/* 線上預約維修申請---客戶個人資料填寫區 */

.info-column .info-text-part .input-item {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-item span {
    padding-bottom: 10px;
}

.input-item input {
    outline: none;
    border: 1px solid #838383;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 0.9375rem;
}

.input-item select {
    outline: none;
    border: 1px solid #838383;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 0.9375rem;
    color: #686868;
    margin-top: -2.5px;
}

.next-step-button {
    text-align: center;
}

.next-step-button a {
    text-decoration: none;
}

.next-step-button button {
    width: 120px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background: #3681FF;
    color: #fff;
    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
}

.next-step-button button:hover {
    background-color: rgb(51, 108, 254);
}


/* ---------------------------------------------- */


/* 線上預約維修申請---問題表單 */

.choose-problem-type-section {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 80px;
}

.choose-problem {
    padding-bottom: 50px;
}

.choose-problem .problem-type-title {
    padding: 30px 0 20px 0;
}

.problem-menu #problem {
    width: 100%;
    outline: none;
    border: 1px solid #838383;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 0.9375rem;
    color: #686868;
}

.description-title {
    padding-bottom: 20px;
}

.obtacle-decription textarea {
    width: 97%;
    outline: none;
    border: 1px solid #838383;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 0.9375rem;
}

.previous-next-button-section {
    display: flex;
    justify-content: center;
}

.previous,
#obstacle-submit {
    width: 120px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background: #3681FF;
    color: #fff;
    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
    margin: 0 50px;
}

.previous:hover {
    background-color: rgb(51, 108, 254);
}

#obstacle-submit:hover {
    background-color: rgb(51, 108, 254);
}


/* --------------------------------------------- */


/* 線上預約維修申請---預約完成 */

.client-detail-information {
    padding-bottom: 80px;
}

.appointment-detail-title {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
}

.detail-row {
    border: 1px solid #838383;
    border-radius: 30px;
    background-color: #fff;
    padding: 20px 0;
}

.detail-column {
    display: flex;
    justify-content: center;
}

.detail-item {
    padding-top: 30px;
    color: #686868;
}

.return-to-home {
    text-align: center;
}

.return-to-home button {
    width: 120px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background: #3681FF;
    color: #fff;
    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
}

.return-to-home button:hover {
    background-color: rgb(51, 108, 254);
}


/* ---------------------------------------------- */


/* 查詢維修進度 */

.repair-status-inquiry {
    width: 100%;
}

.repair-status-inquiry .status-inquiry-input-info {
    max-width: 600px;
    margin: auto;
    padding: 30px 0;
}

.inquiry-input-section .inquiry-title h1 {
    text-align: center;
    font-weight: 500;
    font-size: 1.875rem;
}

.repair-form-number-inquiry {
    padding-bottom: 50px;
}

.repair-form-number-inquiry .form-number-inquiry-title {
    padding-bottom: 10px;
}

.inquiry-input-area #form-number-inquiry {
    width: 100%;
    outline: none;
    border: 1px solid #838383;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 0.9375rem;
}

.repair-submit-button,
.or-line,
.use-product-serial-number-inquiry {
    text-align: center;
    padding-bottom: 30px;
}

#repair-submit-btn,
.serial-number-inquiry {
    width: 200px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background: #3681FF;
    color: #fff;
    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
}

.repair-submit-button #repair-submit-btn:hover {
    background-color: rgb(51, 108, 254);
}

.use-product-serial-number-inquiry .serial-number-inquiry:hover {
    background-color: rgb(51, 108, 254);
}

.or-line span {
    color: #686868;
    position: relative;
    display: block;
}

.or-line span::before {
    content: '';
    width: 45%;
    position: absolute;
    top: 12px;
    left: 0;
    border-top: 1px dashed #838383;
}

.or-line span::after {
    content: '';
    width: 45%;
    position: absolute;
    top: 12px;
    right: 0;
    border-top: 1px dashed #838383;
}


/* --------------------------------------------- */