@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+TC&display=swap');
* {
    font-family: 'Noto Sans TC', sans-serif;
}


/* 桌機版 */


/* 導覽列(共用區塊) */

#menu-switch {
    z-index: -1;
    position: absolute;
    left: -100%;
}

.main-header {
    width: 100%;
    background-color: #363636;
    position: sticky;
    top: 0;
    z-index: 20;
}

.main-header .main-header-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: auto;
}

.main-header .main-header-container h1 {
    opacity: 0;
    position: fixed;
    left: -1000000px;
}

.main-header-container .logo-section {
    width: 80px;
}

.main-header .main-header-container .logo img {
    width: 100%;
}

.search-function {
    display: none;
}

.main-header .main-nav {
    margin: auto;
    display: flex;
}

.main-header .main-nav a {
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    font-size: 1rem;
    position: relative;
    transform: translateY(0px);
    transition: .3s;
}

.main-header .main-nav a:hover {
    transform: translateY(-5px);
}

.main-header .main-nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 0;
    border-bottom: 1px solid #fff;
    transition: .3s;
}

.main-header .main-nav a:hover:after {
    left: 0;
    right: 0;
}

.search-cart-login {
    display: flex;
    align-items: center;
}

.nav-icon {
    width: 20px;
    height: 20px;
    padding: 0 10px;
    cursor: pointer;
}

.nav-icon svg {
    width: 23px;
    height: 23px;
    color: #fff;
}


/* ------------------------------------------------------- */

.rwd-dropDown-menu-column-type {
    display: none;
}


/* 次選單最外層容器 */

.mobile-dropDown-menu-wrap {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: absolute;
    top: 76px;
    left: 0;
    padding: 24px 12px;
    background-color: #363636;
    display: none;
}


/* 次選單內容 */

.mobile-dropDown-menu-wrap .mobile-dropDown-menu-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}


/* 次選單標題 */

.mobile-dropDown-menu-wrap h2 {
    color: #fff;
    font-weight: 500;
}


/* 次選單內部詳細內容 */

.mobile-dropDown-menu-wrap .mobile-dropDown-menu-inner-content {
    display: flex;
    justify-content: flex-start;
}


/* 次選單關閉icon */

.mobile-dropDown-menu-wrap .dropdown-menu-close {
    position: absolute;
    top: 0;
    right: 0;
}


/* rwd返回左箭頭 */

.bi-arrow-left {
    display: none;
}

.mobile-dropDown-menu-wrap .dropdown-menu-close svg {
    width: 30px;
    height: 30px;
    color: #fff;
    cursor: pointer;
}


/* 欄位1 */

.dropDown-menu-column-type li {
    cursor: pointer;
}

.itemType {
    display: flex;
    justify-content: space-between;
}

.arrow2,
.arrow3,
.arrow4 {
    display: none;
}


/* 欄位1 2 */

.dropDown-menu-column-type,
.dropDown-menu-column-series {
    border-right: 1px solid #838383;
    padding-right: 10%;
}


/* 次選單所有ul和li */

.mobile-dropDown-menu-wrap ul {
    padding-left: 0;
    width: 25%;
}

.mobile-dropDown-menu-wrap li {
    list-style: none;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 30px;
    padding: 10px 20px;
}


/* 欄位2 連結 */

.mobile-dropDown-menu-wrap .dropDown-menu-column-series li a {
    font-size: 1.1rem;
}


/* 欄位3---熱門商品連結 */

.dropDown-menu-column-hot {
    margin-left: 30px;
}

.mobile-dropDown-menu-wrap .itemHot .hotProduct {
    padding: 15px 10px;
    font-size: 1.1rem;
    position: relative;
    transform: translateY(0px);
    transition: 0;
}

.mobile-dropDown-menu-wrap .itemHot .hotProduct:hover {
    transform: translateY(0px);
}

.mobile-dropDown-menu-wrap .itemHot .hotProduct::after {
    display: none;
}

.hotProduct {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #838383;
    margin-bottom: 10px;
}

.hotProduct img {
    width: 100%;
}


/* 欄位2、3----平板電腦+智慧手表+配件 */

.tabletSeries,
.watchSeries,
.accessorySeries,
.hotTablet,
.hotWatch,
.hotAccessory {
    display: none;
}


/* 斷點1024 */

@media screen and (max-width:1024px) {
    .mobile-dropDown-menu-wrap .mobile-dropDown-menu-content {
        width: 95%;
        margin: auto;
        position: relative;
    }
}


/* 斷點992 */

@media screen and (max-width:992px) {
    .main-header {
        /* height: 60px; */
        position: fixed;
        top: 0;
        display: flex;
    }
    .main-header .main-header-container {
        width: 95%;
        justify-content: space-between;
    }
    .main-header-container .logo-section {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .main-header .main-header-container .logo img {
        width: 100%;
        padding-top: 5px;
    }
    .main-header .main-nav {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background-color: #363636;
        position: absolute;
        top: 100%;
        left: -100%;
        transition: left .5s;
    }
    #menu-switch:checked~.main-header .main-nav {
        left: 0;
    }
    .main-header .main-nav a {
        border-bottom: 1px solid #838383;
        padding: 15px 0;
        margin: 0 30px;
        display: block;
    }
    .main-header .main-nav a:hover {
        transform: translateY(0px);
    }
    .main-header .main-nav a::after {
        display: none;
    }
    .search-function {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #838383;
        position: relative;
    }
    .search-function #user-search {
        width: 95%;
        outline: none;
        border: none;
        color: #ffffff;
        background-color: #4a4a4a;
        border-radius: 5px;
        font-size: 0.9375rem;
        padding: 8px 10px 8px 30px;
        margin: 10px 0;
    }
    /* rwd放大鏡 */
    .search-function .rwd-search {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 20px;
        left: 28px;
    }
    .search-cart-login .desktop-search {
        display: none;
    }
    /* 漢堡外層 */
    .main-header-container .rwd-nav-hb {
        width: 42px;
        height: 42px;
        display: block;
        position: relative;
    }
    /* 漢堡的白線 */
    .main-header-container .rwd-nav-hb span {
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #FFFFFF;
        left: 0;
        right: 0;
        margin: auto;
    }
    /* 第一條白線 */
    .rwd-nav-hb span:first-child {
        top: 15px;
    }
    /* 第二條白線 */
    .rwd-nav-hb span:last-child {
        bottom: 15px;
    }
    #menu-switch {
        z-index: -1;
        position: fixed;
        top: 0;
        left: -100%;
    }
    #menu-switch:checked~.main-header .rwd-nav-hb span:first-child {
        top: 20px;
        transform: rotate(45deg);
        transition: .3s;
    }
    #menu-switch:checked~.main-header .rwd-nav-hb span:last-child {
        bottom: 20px;
        transform: rotate(-45deg);
        transition: .3s;
    }
    /* ----------------------------- */
    /* 次選單最外層-----992 */
    .mobile-dropDown-menu-wrap {
        height: 100%;
        display: block;
        background-color: #363636;
        top: -1px;
        left: 2000px;
        z-index: 2;
    }
    /* 欄位1-----992 */
    .dropDown-menu-column-type {
        display: none;
    }
    .mobile-dropDown-menu-wrap .mobile-dropDown-menu-inner-content {
        display: flex;
        flex-direction: column;
    }
    .mobile-dropDown-menu-wrap ul {
        padding-left: 0;
        width: 100%;
    }
    .mobile-dropDown-menu-wrap li {
        padding: 0;
    }
    .dropDown-menu-column-type,
    .dropDown-menu-column-series {
        border: none;
        padding-right: 0;
    }
    .dropDown-menu-column-hot {
        margin: 0;
    }
    .dropDown-menu-column-hot .itemHot {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
    }
    .hotProduct {
        width: 60%;
    }
    .bi-x {
        display: none;
    }
    /* rwd返回左箭頭 */
    .bi-arrow-left {
        display: block;
    }
    .rwd-dropDown-menu-column-type {
        display: none;
        border-bottom: 1px solid #838383;
        width: 90%;
        padding-left: 0;
        margin: 0 30px;
        list-style: none;
    }
    .rwd-dropDown-menu-column-type li {
        padding: 15px 0;
        color: #fff;
    }
    .rwd_itemType {
        display: flex;
        justify-content: space-between;
    }
    .arrow2,
    .arrow3,
    .arrow4 {
        display: block;
    }
}


/* 手機版 */

@media screen and (max-width:767px) {
    .main-header {
        height: 60px;
        position: fixed;
        top: 0;
        display: flex;
    }
    .main-header .main-header-container {
        width: 90%;
        justify-content: space-between;
    }
    .main-header-container .logo-section {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .main-header .main-header-container .logo img {
        width: 100%;
        padding-top: 5px;
    }
    .main-header .main-nav {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background-color: #363636;
        position: absolute;
        top: 100%;
        left: -100%;
        transition: left .5s;
    }
    #menu-switch:checked~.main-header .main-nav {
        left: 0;
    }
    .main-header .main-nav a {
        border-bottom: 1px solid #838383;
        padding: 15px 0;
        margin: 0 30px;
        display: block;
        transition: 0;
    }
    .main-header .main-nav a:hover {
        transform: translateY(0px);
    }
    .main-header .main-nav a::after {
        display: none;
    }
    .search-function {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #838383;
        position: relative;
    }
    .search-function #user-search {
        width: 95%;
        outline: none;
        border: none;
        color: #ffffff;
        background-color: #4a4a4a;
        border-radius: 5px;
        font-size: 0.9375rem;
        padding: 8px 10px 8px 30px;
        margin: 10px 0;
    }
    /* rwd放大鏡 */
    .search-function .rwd-search {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .search-cart-login .desktop-search {
        display: none;
    }
    /* 漢堡外層 */
    .main-header-container .rwd-nav-hb {
        width: 42px;
        height: 42px;
        display: block;
        position: relative;
    }
    /* 漢堡的白線 */
    .main-header-container .rwd-nav-hb span {
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #FFFFFF;
        left: 0;
        right: 0;
        margin: auto;
    }
    /* 第一條白線 */
    .rwd-nav-hb span:first-child {
        top: 15px;
    }
    /* 第二條白線 */
    .rwd-nav-hb span:last-child {
        bottom: 15px;
    }
    #menu-switch {
        z-index: -1;
        position: fixed;
        top: 0;
        left: -100%;
    }
    #menu-switch:checked~.main-header .rwd-nav-hb span:first-child {
        top: 20px;
        transform: rotate(45deg);
        transition: .3s;
    }
    #menu-switch:checked~.main-header .rwd-nav-hb span:last-child {
        bottom: 20px;
        transform: rotate(-45deg);
        transition: .3s;
    }
    /* ------------------------------------- */
    .mobile-dropDown-menu-wrap {
        height: 100%;
        display: block;
        background-color: #363636;
        top: -1px;
        left: 2000px;
        z-index: 2;
    }
    /* 欄位1----767 */
    .dropDown-menu-column-type {
        display: none;
    }
    .mobile-dropDown-menu-wrap .mobile-dropDown-menu-inner-content {
        display: flex;
        flex-direction: column;
    }
    .mobile-dropDown-menu-wrap ul {
        padding-left: 0;
        width: 100%;
    }
    .mobile-dropDown-menu-wrap li {
        padding: 0;
    }
    .dropDown-menu-column-type,
    .dropDown-menu-column-series {
        border: none;
        padding-right: 0;
    }
    .dropDown-menu-column-hot {
        margin: 0;
    }
    .dropDown-menu-column-hot .itemHot {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
    }
    .hotProduct {
        width: 60%;
    }
    .hotProduct span {
        display: block;
        text-align: center;
    }
    /* rwd次選單關閉叉叉 */
    .bi-x {
        display: none;
    }
    /* rwd返回左箭頭 */
    .bi-arrow-left {
        display: block;
    }
    /* rwd次選單第一層的下拉式選單 */
    .rwd-dropDown-menu-column-type {
        display: none;
        width: 85%;
        padding: 0;
        border-bottom: 1px solid #838383;
    }
    .rwd-dropDown-menu-column-type li {
        color: #fff;
    }
}