@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+TC&display=swap');
        *{
            font-family: 'Noto Sans TC',sans-serif;
        }

/* 導覽列 */
.main-header{
    background-color: #363636;
}
.container{
    max-width: 1400px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin: auto;
}
.container .logo{
    width: 100px;
    padding-top: 9px;
}
.container .logo img{
    width: 100%;
}
.main-header .main-nav{
    margin: auto;
    display: flex;
}
.main-header .main-nav a{
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    position: relative;
    transform: translateY(0px);
    transition: .3s;
    font-size: 18px;
}
.main-header .main-nav a:hover{
    transform: translateY(-5px);
}
.main-header .main-nav a::after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 0;
    border-bottom: 1px solid #fff;
    transition: .3s;
}
.main-header .main-nav a:hover:after{
    left: 0;
    right: 0;
}
.search-cart-login{
    display: flex;
    align-items: center;
}
.nav-icon{
    width: 20px;
    height: 20px;
    padding: 0 20px;
    cursor: pointer;
}
.nav-icon img{
    width: 100%;
}

/* ------------------------------------------------------- */

/* banner Galaxy s22 Ultra */
.galaxy-s22-ultra{
    width: 100%;
    background-color: #f6f6f6;
    overflow: hidden;
}
.s22-content{
    max-width: 1400px;
    height: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.s22-content-text{
    padding: 0 0 0 50px;
}
.s22-content-text h1{
    font-size: 56px;
}
.s22-content-text p{
    font-size: 28px;
}
.s22-content-product img{
    width: 170px;
}
.order-learn button{
    background-color: #3c3c3c;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    transition: .3s;
    cursor: pointer;
}
.order-learn button:hover{
    background-color: rgb(140, 140, 140);
}
.order-learn button a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.order-learn .order{
    margin-left: 10px;
}
.s22-product-picture{
    display: flex;
}
.s22-product-1,.s22-product-2,.s22-product-3{
    margin: 20px 30px;
}
.s22-product-1{
    position: relative;
    top: 200px;
}
.s22-product-2{
    position: relative;
    top: 100px;
}
.s22-product-3{
    position: relative;
    top: 10px;
}

/* ------------------------------------------------ */

/* banner iPad air */
.ipad-air{
    width: 100%;
    /* background: linear-gradient(90deg,black,grey); */
    background-color: black;
}
.ipad-air-content{
    max-width: 1400px;
    height: 470px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.ipad-air-content .ipad-air-picture{
    width: 450px;
}
.ipad-air-content .ipad-air-picture .ipad-air-img{
    width: 100%
}
.ipad-air-content .ipad-air-text{
    color: white;
    text-align: end;
    /* margin-right: 100px; */
}
.ipad-air-content .ipad-air-text h2{
    font-size: 56px;
}
.ipad-air-content .ipad-air-text h2 span{
    color: rgb(210, 133, 255);
}
.ipad-air-content .ipad-air-text span{
    color: rgb(210, 133, 255);
}
.ipad-air-content .ipad-air-text p{
    font-size: 28px;
}

/* ------------------------------------------------- */

/* ProArt */
.proart{
    width: 100%;
    background-color: #f6f6f6;
}
.proart-content{
    max-width: 1400px;
}
.proart-content .proart-text{
    text-align: center;
}
.proart-content .proart-text h2{
    font-size: 56px;
}
.proart-picture-group1,.proart-picture-group2{
    width: 400px;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    margin: auto;
}
.proart-picture-group1,.proart-picture-group2 img{
    width: 100%;
}
.proart-picture-group1 .proart-application01{
    transform: rotate(-15deg);
}
.proart-picture-group2 .proart-application02{
    transform: rotate(15deg);
}
.proart-picture-group2 img{
    margin: 0 60px;
}